.message-container {
  width: 60%;
  margin: 0 auto;
}

.message-card {
  background-color: #1e293b;
  color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;

  .message-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  .message-actions {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #9ca3af;
  }
}
