<div class="message-container">
  <div class="message-card" *ngFor="let message of messages">
    <div class="message-header">
      <img [src]="message.avatarUrl" class="avatar" alt="User Avatar">
      <strong>{{ message.autor }}</strong> {{ '@' + message.autor }} • {{ message.fecha }}
    </div>
    <p>{{ message.contenido }}</p>
    <div class="message-actions">
      <span><i class="bi bi-hand-thumbs-up"></i>x</span>
      <span><i class="bi bi-hand-thumbs-down"></i> x</span>
      <span><i class="bi bi-chat"></i> x comments</span>
      <span><i class="bi bi-share"></i> Share</span>
      <span><i class="bi bi-bookmark"></i> Save</span>
    </div>
  </div>
</div>

