<div class="home-container">
  <h1 class="welcome-title">Bienvenido/a a AMEA</h1>
  <p class="welcome-subtitle">
    Accede fácilmente a la información de nuestras socias, instituciones y pagos.
  </p>

  <div class="button-grid">
    <a routerLink="/admin/socias" class="admin-card">
      <span class="card-title">VER SOCIAS</span>
    </a>

    <a routerLink="/admin/instituciones" class="admin-card">
      <span class="card-title">VER INSTITUCIONES</span>
    </a>

    <a routerLink="/admin/pagos" class="admin-card">
      <span class="card-title">VER PAGOS</span>
    </a>
  </div>
</div>
