<div class="container mt-4">
  <h2>Listado de Instituciones</h2>
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre de la institución</th>
        <th>Persona de contacto</th>
        <th>Cargo</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Sitio Web</th>
        <th>Observaciones</th>
        <th>Tipo de Institución</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let institucion of instituciones$ | async; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ institucion.nombreInstitucion }}</td>
        <td>{{ institucion.personaContacto }}</td>
        <td>{{ institucion.cargo }}</td>
        <td>{{ institucion.telefono }}</td>
        <td>{{ institucion.email }}</td>
        <td>{{ institucion.web }}</td>
        <td>{{ institucion.observaciones }}</td>
        <td>{{ institucion.tipoInstitucionId }}</td>
        <td>
          
          <button class="btn btn-primary btn-sm" [routerLink]="['/institucion', institucion.id]">Editar</button>
                    <!-- redirige a la página de edición con el id de la institución -->
          <button class="btn btn-danger btn-sm" (click)="deleteInstitucion(institucion.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
