.content {
  width: 60%;
  margin: auto;
}

.post {
  background-color: #1e293b;
  color: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;

  .post-header {
    display: flex;
    align-items: center;
    gap: 10px;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  .post-content {
    margin-top: 10px;
    font-size: 1rem;
  }

  .post-image {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
  }

  .post-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;

    .btn {
      color: white;
      background: none;
      border: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
