<app-message></app-message>
<!--
<div class="content">
    <div class="post">
      <div class="post-header">
        <img src="assets/avatar.jpg" class="avatar">
        <div>
          <strong>usuario</strong> usuario · 4 hr. ago
        </div>
      </div>
      <p class="post-content">
        Que puedo hacer si mi gato está endemoniado? fuera bromas tengo miedo.
      </p>
      <img src="assets/post-image.jpg" class="post-image">
      <div class="post-actions">
        <button class="btn btn-sm"><i class="bi bi-hand-thumbs-up"></i> 19</button>
        <button class="btn btn-sm"><i class="bi bi-chat"></i> 27 comments</button>
        <button class="btn btn-sm"><i class="bi bi-bookmark"></i> Save</button>
      </div>
    </div>
  </div>-->